*
{
    margin: 0;
    padding: 0px;
}

a:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 70%;
    border-radius: 10%;
    transition: 0.3s;
}


body{
    background-color: rgb(9, 15, 25);
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', arial, sans-serif;
    color: white;
}

nav
{   position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
    
}

section.Principal{
    width: 100%; 
    margin: 0%;
    padding-top: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg-0.jpg);
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}


.title .main-title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    margin: 0 5%;
}

.title .main-subtitle {
    font-family: 'Raleway', sans-serif;
    margin: 0 5%;
}

section.one{
    width: 100%; 
    margin: 0%;
    padding-top: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg-1.jpg);
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

.title .main-title {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title .main-subtitle {
    position: relative;
    top: 50%;
    left: 60%;
    transform: translate(-60%,-50%);
}

section.two{
    width: 100%; 
    margin: 0%;
    padding-top: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg-2.jpg);
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

section.three{
    width: 100%; 
    margin: 0%;
    padding-top: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg-3.jpg);
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

section.four{
    width: 100%; 
    margin: 0%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg-4.jpg);
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    }

section.five{
    height: 150vh;
    width: 100vw; 
    margin: 0%;
    padding-top: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg-5.jpg);
    background-size: cover;
    background-attachment: fixed;
    }


.five .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    height: auto;
    margin: 0 2%;
}

.gallery img {
    width: 150px;
    height: 240px;
    margin: 2% 3%;
}

.content-text {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 15%;

}
.content-title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 33px;
    text-align: center;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
}


.content-text p {
    font-size: 20px;
    line-height: 30px;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

footer {
    height: 10vh;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 2%;
}

img.info{
    border-radius: 100%;
    z-index: auto;
    opacity: 1;
}

@media (max-width: 858px) {
    
    .content-text p {
        font-size: 14px;
    }

    section.five{
    height: 250vh; }
}